.ingregients-container {
    position: relative;
    margin-bottom: 110px;
}

.ingredientscard {
  background-color: #fff5d7;
  border-radius: 12px;
  /* height: 107px; */
  width: 1018px;
  margin: 0 auto;
  background: linear-gradient(
    360deg,

    rgba(255, 245, 215, 0.784) 55.53%,
    #fff5d7 64.01%
  );
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all .4s;
}

.ingredientscard-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.ingredientscard-ingr {
  display: flex;
  flex-wrap: wrap;
  list-style: inside;
  position: absolute;
}

.ingredientscard-text {
  font-weight: 400;
  font-size: 18px;
  flex: 0 0 50%;
  z-index: 0;
  height: 2%;
  margin-bottom: 12px;
}

.ingredientscard-btn {
  margin: 10px auto;
  border: none;
  background-color: #ffdc72;
  border-radius: 12px;
  padding: 8px 20px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  transform: translateX(300%);
  overflow: visible;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 5px;
}
