.recipeheader {
    background-color: #258325;
    border-radius: 12px;
    display: flex;

    align-items: center;
}

.recipeheader__title {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 24px;
    padding: 21px;
    color: #fff;
}

.recipeheader__prep {
    font-size: 14px;
    color: #fff;
    margin-right: 25px;
}

.recipeheader__time {
    font-size: 14px;
    color: #fff;
}

@media (max-width: 440px) {
    .recipeheader {
        margin-left: 25px;
        width: 366px;
    }

    .recipeheader__title {
        font-size: 20px;
        padding: 13px;
    }

    .recipeheader__prep, .recipeheader__time {
        display: none;
    }

}