.help__title {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.help__title-frame {
    background-color: #258325;
    border-radius: 12px;
    padding: 12px 20px;
    margin-bottom: 20px;
    color: #fff;
}


.help {
    display: flex;
    justify-content: center;
}

@media (max-width: 440px) {
    .help {
        flex-direction: column;
        gap: 30px;
    }
}