.help__question {
    background-color: #f8fbff;
    border-radius: 12px;
    width: 676px;
    padding: 12px 20px;
}

.help__question-title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin-bottom: 20px;
}

.help__question-block {
    border-top: 3px dashed #CCE2FF;
    padding-top: 15px;
}

.help__question-quest {
    font-weight: 600;
}

.help__question-answer {
    font-weight: 400;
    font-size: 16px;
}


@media (max-width: 440px) {
    .help__question {
        width: 380px;
    }
}