.ingridients {
    border-radius: 12px;
    background-color: #fff5d7;
    width: 420px;
    height: 400px;
}

.ingridients__header {
    background-color: #ffdc72;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 18px;
    padding: 1px 20px;
}