.ingridients {
    border-radius: 12px;
    background-color: #fff3d7;
    width: 420px;
    height: 400px;
}

.ingridients__header {
    background-color: #FFB300;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 18px;
    padding: 1px 20px;
    color: #fff;
}

@media (max-width: 1340px) {
    .ingridients {
        width: 322px;
    }
}
@media(max-width: 1125px) {
    .ingridients {
        width: 298px;
    }
}
@media(max-width: 670px) {
    .ingridients {
        width: 240px;
    }
}
@media (max-width: 440px) {
    .ingridients {
        position: fixed;
        border-radius: 12px;
        background-color: #fff5d7;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        z-index: 50;
        cursor: pointer;
        transition: all .5s ease-in;
    }

  .--activeingr {
        top: 20%;
        height: 75vh;
        width: 95%;
        left: 3%;
    }
    .ingridients__header {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: ellipse(50% 100% at 50% 100%);
        font-size: 16px;
        cursor: pointer;
        margin-left: -25px;
    }
    .--active {
        position: initial;
        bottom: initial;
        margin-left: 0;
        clip-path: initial;
    }
}