.card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.cardimg {
  width: 250px;
  height: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.cardtitle {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  width: 250px;
  color: #000;
}

.cardicons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0%;
  left: 105%;
  gap: 4px;
}

.cardbtn {
  position: absolute;
  z-index: 2;
  top:5%;
  left: 85%;
  animation: modalshow .4s ease-in;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@keyframes modalshow {
    0% {
        opacity: 0;
    }

    100% {
        opacity:1;
    }
}


@media (max-width: 440px) {
  .cardtitle {
    width: 185px;
  }
  .cardimg {
    width: 141px;
    height: 152px;
  }
  .cardicons {
    left: 80%;
  }

  .cardbtn {
    left: 57%;
  }
}