.cardsmenu {
    width: 960px;
    background-color: #258325;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.cardsmenu_btn {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.cardsmenu_btn::before {
    content: "";
    position: absolute;
    background-image: url(../../../filter.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top:10px;
    left:-20px;
    color: #fff;
}

.cardsmenu_btn::after {
    content: "";
    position: absolute;
    /* background-image: url(../../../chevron.png);
    background-repeat: no-repeat; */
    left: 55px;
    color: #fff;
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    top: 10px;
}

@media(max-width: 440px) {
    .cardsmenu {
        width: 324px;
        margin-left: 0;
    }
}